body {
  font-family: 'Roboto', sans-serif;
}
.square-img-container {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}
.square-img-container .square-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.salt_metadata-border {
  border-color: #E91750;
}
.search_res-border {
  border-color: #A64AC9;
}
.vis_similarity-border {
  border-color: #17E9E0;
}
.object_match-border {
  border-color: #FCCD05;
}
.salt_metadata-bg {
  background-color: #E91750;
}
.search_res-bg {
  background-color: #A64AC9;
}
.vis_similarity-bg {
  background-color: #17E9E0;
}
.object_match-bg {
  background-color: #FCCD05;
}
#demo7 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.main-svg {
  transform: translate(50vw, 50vh);
}
.data-point {
  cursor: pointer;
  transition: all 450ms ease-in-out;
}
.data-point.fade {
  opacity: 0.4;
}
.data-point.highlight {
  filter: brightness(1.2);
}
.root-node {
  transform: scale(2);
}
.bg-base {
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg {
  border-radius: 100%;
  background-color: rgba(100, 100, 100, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg.bg-3 {
  width: 1200px;
  height: 1200px;
}
.bg.bg-2 {
  width: 900px;
  height: 900px;
}
.bg.bg-1 {
  width: 600px;
  height: 600px;
}
.bg.bg-0 {
  width: 300px;
  height: 300px;
}
.modal-content.transparent {
  background: transparent;
  border: none;
  color: #fcfcfc;
}
.modal-dialog {
  max-width: 75%;
}
.modal-backdrop {
  background-color: #666;
}
.blur {
  backdrop-filter: blur(10px);
}
#connectionInfoModal .node-history {
  max-height: 100%;
}
#connectionInfoModal .node-history .square-img-container {
  margin-bottom: 1rem;
}
#connectionInfoModal .top-container {
  margin-bottom: 40px;
}
#connectionInfoModal .bottom-container {
  background-color: rgba(100, 100, 100, 0.5);
  padding: 20px 0;
}
#connectionInfoModal .info-card {
  border: none;
  background-color: transparent;
}
#connectionInfoModal .info-card .card-header {
  font-weight: 600;
  color: #fcfcfc;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  background-color: transparent;
}
#connectionInfoModal .scale-container {
  height: 20vh;
  width: 40px;
  background-color: #eeeeee;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#connectionInfoModal .scale-container .scale-indicator {
  width: 100%;
  height: 32%;
  background-color: #17E9E0;
  position: relative;
}
#connectionInfoModal .scale-container .scale-indicator .scale-text {
  position: absolute;
  right: -40px;
  top: -10px;
}
#connectionInfoModal .connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 600;
  color: #fcfcfc;
  text-align: center;
}
#connectionInfoModal .connection .overall-score {
  margin-bottom: 1.25rem;
}
#connectionInfoModal .connection .connection-line {
  width: 100%;
  height: 5px;
  margin-bottom: 1.25rem;
}
#scoreAdjustmentModal .score-weight-row {
  align-items: center;
}
#scoreAdjustmentModal .modal-header {
  border-bottom: none;
}
#scoreAdjustmentModal .score-weight-col {
  display: flex;
}
#scoreAdjustmentModal .score-weight-col .percent {
  margin-right: 10px;
}
#scoreAdjustmentModal .score-weight-col .lock-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url('./icons/lock-open.svg');
  cursor: pointer;
}
#scoreAdjustmentModal .score-weight-col .lock-icon.locked {
  background-image: url('./icons/lock.svg');
}
.link-toggles {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px;
  color: #fcfcfc;
}
.link-toggle {
  height: 50px;
  display: flex;
}
.score-component {
  display: inline-flex;
  height: 25px;
  align-items: center;
  padding: 14px;
}
.color-code {
  justify-content: center;
}
.score-name {
  justify-content: center;
}
.toggle-container {
  border: 3px solid #fcfcfc;
  border-radius: 50%;
  filter: drop-shadow(0, 8px, 6px);
}
.toggle-container.edit-container {
  background-color: #fcfcfc;
  cursor: pointer;
}
.toggle-container .toggle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.toggle-container .toggle.disabled {
  opacity: 0.1;
}
.toggle-container .toggle.edit-button {
  background-color: #fcfcfc;
  background-image: url("./plus.svg");
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */