body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
.link-toggles {
    position: fixed;
    bottom: 30px;
    right: 30px;

    background-color: rgba(50, 50, 50, 0.4);
    border-radius: 10px;

    color: white;

    font-weight: 300;
}

.link-toggle {
    height: 50px;
    display: flex;
}

.score-component {
    display: inline-flex;
    height: 25px;
    align-items: center;
    padding: 15px;
}

.color-code, .score-weight {
    width: 60px;
    border-right: 1px solid white;
}

.color-code {
    justify-content: flex-start;
}

.score-weight, .score-name {
    justify-content: center;
}

.toggle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

#vis_similarity_toggle {
    background-color: #1b570a;
}

#search_res_toggle {
    background-color: #a1cfca;
}

#object_match_toggle {
    background-color: #d66711;
}

#salt_metadata_toggle {
    background-color: #ebaed2;
}

#user_connection_toggle {
    background-color: #bae874;
}
#overall_toggle {
    background-color: #9c1a27;
}

.toggle.disabled {
    opacity: 0.4;
}
