
body {
    font-family: 'Open Sans', sans-serif;
}

.item-wrapper {
    padding: 20px;
}
.item-header {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 5px;
}

.item-description {
    font-weight: 300;
    margin-bottom: 15px;
}

.item-info {
    margin-bottom: 10px;
}

.label {
    display: inline-block;
    font-weight: 600;
    width: 120px;
}

.info  {
    cursor: pointer;
}